{% extends 'main.html' %}

{% block content %} 

<div class="container form-top-spacing" >
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-3 mb-3">
                <div class="card-body">
            <h3 class="p-2 card-title text-center"> Your profile details</h3>
            <ul class="list-group">
                <li class="list-group-item">Email: {{ current_user.email }}</li>
                <li class="list-group-item">Token: {{ current_user.token }} </li> 
            </ul>
         </div>
       </div>
     </div>
   </div>
</div>
{% endblock %}